/*style for div*/
.fontcss{font-family:Arial,Helvetica,sans-serif; font-size: 10px;}
.divcss5{height:500px; width: 600px;float: left;text-align:justify; border:2px inset rgb(219, 23, 23);margin:0 auto;}

/*style for grid*/
.gridcss1{ background-color:rgba(255, 255, 255, 0.699); height: 500px;  } 
.gridcss2{ background-color:rgba(255, 255, 255, 0.534);  height: 500px; } 
.gridcss3{ background-color:rgba(255, 255, 255, 0.678);  } 

.backgroundbord{
    color: rgba(255, 255, 255, 0.623);
    border: 1px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
/*style for font*/
.listfont{
    -webkit-text-fill-color: #3d3b3b;
    /*-webkit-text-stroke: 1.2px rgb(255, 255, 255);*/

}

