.divcss1{  height:40px;width: 150px; float: left; text-align:justify;} 
.divcss2{  height:40px;width: 50px; float: left;} 
.divcss{ border:2px inset black; width: 220px; height:250px; margin-left: 5%;} 
.fontcss{font-family:Arial,Helvetica,sans-serif; font-size: 10px;}
.divcss3{height:500px; width: 600px;border:2px inset black;margin:0 auto;}